body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    text-align: center;
    vertical-align: middle;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}